/* General */
.col-centered{
  float: none;
  margin: 0 auto;
}

/* Auth */
.auth {
  margin-top: 50px;
}
/* Auth End */

/* User Cabinet */
.message {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid gray;
  width: 300px;
}
/* User Cabinet End */
