/* General */
.col-centered{
  float: none;
  margin: 0 auto;
}
.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}
.pointer {
  cursor: pointer;
}
/* End General */


/* Auth */
.auth {
  margin-top: 10px;
}
/* End Auth */


/* User Cabinet */
.message {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid gray;
  width: 300px;
}
/* End User Cabinet */


/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}
.footer .container .text-muted {
    margin: 20px 0;
}
/* End Footer */


/* Shop */
.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}
.ratings p {
  margin: 0;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

.product-card {
  overflow: hidden;
  padding-bottom: 9px;
}
.product-card .button-container {
  padding-right: 9px;
}
/* End Shop */
