{% extends 'base.html' %}

{% block navbar %} 
{% include 'partials/nav-bar.html' with userMail=userMail %} 
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="row">

        {% for product in products %}
        <div class="col-sm-4 col-lg-4 col-md-4">
          <div class="thumbnail product-card">
            <img src="https://place-hold.it/320x150" alt="">
            <div class="caption">
              <h4 class="pull-right">฿{{product.price}}</h4>
              <h4>{{product.name}}</h4>
              <p>{{product.desc}}</p>
            </div>          
            <div class="ratings pull-left">
              <p>15 reviews</p>
              <p>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
              </p>
            </div>
            <div class="button-container pull-right">
            <a class="btn btn-success center-block" href="/buy-product/{{product.id}}">
              <span class="glyphicon glyphicon-shopping-cart"></span> Buy
            </a>
            </div>            
          </div>
        </div>
        {% endfor %}

        <div class="col-xs-12 text-center">
          <a class="btn btn-primary" href="/add-product">Add new Product</a>
        </div>
        
      </div>
    </div>
  </div>
</div>
{% endblock %}
