{% extends 'base.html' %}

{% block navbar %} 
{% include 'partials/nav-bar.html' with userMail=userMail %} 
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-2">
		<div class="panel-group" id="accordion">
			<div class="panel panel-default" id="panel2">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-target="#private-key" class="collapsed pointer">
                Private key
              </a>
					</h4>
				</div>
				<div id="private-key" class="panel-collapse collapse">
					<div class="panel-body">{{private_key}}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-2">
		<div class="panel-group" id="accordion">
			<div class="panel panel-default" id="panel1">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-target="#public-key" class="collapsed pointer">
                Public key
              </a>
					</h4>
				</div>
				<div id="public-key" class="panel-collapse collapse">
					<div class="panel-body">{{public_key}}</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
